@import "../../../assets/scss/variables";

.ButtonMenuLink {
  border: 1px solid $color-pink;
  background-color: $color-white;
  color: $color-text;
  padding: 0.3rem $space-1;
  border-radius: $border-radius-md;
  width: 100%;
  text-align: center;
}
.active {
  border: 1px solid $color-text;
}
