@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.NotificationContainer {
  @include flex-column;

  .NotificationMessage {
    margin: $space-0;
    color: $color-red;
    border-radius: $border-radius-sm;
    padding: $space-1;
  }
}
