@import "../../../assets/scss/variables";
@import "../../../assets/scss/mixins";
@import "../../../assets/scss/breakpoints";

.LearningWordCard {
  @include flex-column;

  min-height: 11rem;
  padding: $space-4 $space-1;
  margin: $space-1;
  box-shadow: $shadow-1;
  border-radius: $border-radius-lg;
  word-break: break-all;
  width: 24rem;
  display: flex;
  align-items: center;
  justify-content: center;

  @include md {
    width: 20rem;
  }

  @include xs {
    width: 17rem;
  }

  h2 {
    padding: $space-0;
  }

  input {
    border: 1px solid $color-pink;
  }
}

.LearningWordCardRed {
  @extend .LearningWordCard;

  border-color: $color-red;
}

.LearningWordCardGreen {
  @extend .LearningWordCard;

  border-color: $color-green;
}

.LearningWordCardYellow {
  @extend .LearningWordCard;

  border-color: $color-yellow;
}
