@import "../../assets/scss/mixins";

.VocabularyPage {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.VocabularyContainer {
  @include flex-column
 
  width: 100%;
  justify-content: center;
  text-align: center;
}
