@import "../../assets/scss/breakpoints";
@import "../../assets/scss/variables";

.ProgressPage {
  @include lg {
    padding: $space-2 0;
  }

  .chart {
    width: 35rem;
    height: 25rem;

    @include md {
      width: 34rem;
    }

    @include sm {
      width: 22rem;
    }

    @include xs {
      width: 19rem;
    }

    @include xs_height {
      height: 19rem;
    }
  }
}
