@import "../../../assets/scss/variables";
@import "../../../assets/scss/mixins";
@import "../../../assets/scss/breakpoints";

.ConfirmationCard {
  @include flex-column;

  margin: $space-1;
  padding: $space-1 $space-2;
  background-color: $color-white;
  border-radius: $border-radius-md;
  border: 1px solid $color-pink;
  max-width: 30rem;

  button {
    margin: $space-0;
  }

  @include md {
    margin: $space-0;
    padding: $space-0;
  }

  @include sm {
    margin: $space-1;
  }

  @include xs {
    margin: $space-0;
    padding: 0;
  }

  .QuestionContainer {
    margin: $space-1;

    .ConfirmationCardNotice {
      font-size: $font-xs;
      font-size: $font-xs;
      color: $color-red;
      align-self: flex-start;
    }
  }
}
