@import "../../../assets/scss/variables";
@import "../../../assets/scss/mixins";
@import "../../../assets/scss/breakpoints";

.BurgerBar {
  .close {
    @include push-to-upper-left-corner;
    margin-top: $space-2;
    margin-left: $space-2;
    height: 1.5rem;
    cursor: pointer;

    @include xs {
      height: 1rem;
    }
  }

  .dots {
    @extend .close;
    position: static;
    height: 0.8rem;

    @include xs {
      height: 0.6rem;
    }
  }

  .BurgerOpen {
    @include flex-column;

    justify-content: center;
    background-color: $color-light-grey;
    height: 100vh;

    .BurgerCard {
      @include flex-column;
      justify-content: space-evenly;
      background-color: $color-white;
      width: 80%;
      height: auto;
      padding: $space-3 0;
      border-radius: $border-radius-md;
      box-shadow: $shadow-2;

      .links {
        @include flex-column;

        margin: $space-1;
        justify-content: center;
        flex-wrap: wrap;
        a {
          width: fit-content;
          padding: 0.3rem $space-1;
          margin: $space-1;
        }
      }

      .instructions {
        @include flex-column;
        justify-content: center;

        h2 {
          color: $color-pink;
          text-align: center;
        }

        a {
          text-decoration: none;
        }
      }
    }
  }
}
