@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.InputFieldContainer {
  .InputField {
    margin: $space-1;
    padding: $space-1;
    font-size: $font-sm;
    border: $border-dark;
  }

  .smallInputField {
    @extend .InputField;
    @include input-sm;
  }
}
