@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.WordPairContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;

  .WordPair {
    flex: 3;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .buttonsContainer {
    flex: 1;
  }

  img {
    height: 1.4rem;
    margin: 0 $space-2;
  }

  p {
    padding: $space-1;
  }
}

.EditWordForm {
  width: 100%;
  
   @include flex-row;
  justify-content: space-between;

  .editInputs {
    flex: 3;

    @include flex-row;
    justify-content: space-around;
  }

  .SubmitButtonContainer {
    flex: 1;
  }

  input {
       @include input-sm
  }

  button {
    width: fit-content;
  }
}
