@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.WordPairContainer {
  @include flex-row;
  width: 100%;
  justify-content: space-between;

  .WordPair {
    flex: 3;
    @include flex-row;
    justify-content: space-around;
  }

  .buttonsContainer {
    flex: 1;
    @include flex-row;
  }

  img {
    height: 1.4rem;
    margin: 0 $space-2;
  }

  p {
    padding: $space-1;
    width: 30%;
    text-align: left;
    word-break: break-word;
  }
}

.EditWordForm {
  width: 100%;

  @include flex-row;
  justify-content: space-between;

  .editInputs {
    flex: 3;

    @include flex-row;
    justify-content: space-around;
  }

  .SubmitButtonContainer {
    flex: 1;

    @include flex-row;

    input {
      @include input-sm;
    }

    button {
      width: fit-content;
    }
  }
}
