@import "../../../assets/scss/variables";
@import "../../../assets/scss/mixins";

.LoaderSmall {
  @include flex-column;

  flex: 1;

  p {
    font-size: $font-xs;
    margin-top: $space-0;
  }

  .loadingDots {
    @include flex-row;

    div {
      height: 0.6rem;
      width: 0.6rem;
      margin: 0 $space-0;
      background-color: $color-pink;
      border-radius: $border-radius-sm;

      animation: updown 2s linear infinite;
    }

    @keyframes updown {
      0% {
        transform: translateY(-60%);
      }

      50% {
        transform: translateY(60%);
      }

      100% {
        transform: translateY(-60%);
      }
    }
  }
}
