@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";
@import "../../assets/scss/breakpoints";

.ProgressCard {
  margin: $space-1;
  padding: $space-1 $space-2;
  background-color: $color-light-grey;
  border-radius: $border-radius-md;
  width: fit-content;
  box-shadow: $shadow-2;

  @include md {
    padding: $space-0 $space-2;
  }

  .header {
    text-align: center;
    margin-bottom: $space-0;
    color: $color-pink;
    font-weight: 700;
    letter-spacing: 0.05rem;

    @include md {
      margin-bottom: 0;
    }
  }

  p {
    line-height: $space-3;
  }
}
