@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.logo {
  height: 3rem;
  position: absolute;
  top: 0;
  left: 0;
  margin-left: $space-3;
  margin-top: $space-3;
}

.InitialPageButtons {
  @include flex-row;
  width: 100%;
  justify-content: space-evenly;
  margin-top: $space-2;
}
