@import "../../../assets/scss/variables";
@import "../../../assets/scss/mixins";
@import "../../../assets/scss/breakpoints";

.AddWordsForm {
  margin-top: 6rem;
  margin-bottom: $space-3;

  h2 {
    margin-bottom: $space-2;
  }

  @include lg {
    margin-top: 9rem;
  }

  @include sm {
    margin-bottom: $space-0;

    h2 {
      margin-bottom: $space-0;
      font-size: $font-md;
    }
  }

  .form {
    @include flex-row;

    @include sm {
      @include flex-column;

      input {
        margin: $space-0 0;
        padding: $space-05;
      }
    }
  }
}
