@import "../../assets/scss/variables";
@import "../../assets/scss/breakpoints";
@import "../../assets/scss/mixins";

.WordsList {
  box-shadow: $shadow-1;
  border-radius: $border-radius-sm;
  width: 95%;
  margin-top: $space-2;
  margin-bottom: $space-2;
  padding: $space-1;
  overflow-y: auto;

  @include lg {
    margin-top: $space-3;
  }

  @include md {
    margin-bottom: 0;
  }

  @include sm {
    padding: $space-0;
  }
}
