@import "../../assets/scss/variables";
@import "../../assets/scss/breakpoints";

.WordPairContainer {
  box-shadow: $shadow-1;
  border-radius: $border-radius-sm;
  width: 95%;
  margin: $space-2 0;
  padding: $space-1;
  overflow-y: auto;

  @include lg {
    margin-top: $space-3;
  }
}
