@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";
@import "../../assets/scss/breakpoints";

.HomePage {
  width: 100%;
}

.buttonsContainer {
  @include flex-row;
  width: 100%;
  justify-content: space-evenly;
  text-align: center;
  flex-wrap: wrap;

  @include md {
    margin-bottom: 0;
  }

  div {
    margin: 0 $space-2;
    margin-top: $space-2;
  }

  p {
    margin-top: $space-0;
  }
}
