@import "../../../assets/scss/variables";
@import "../../../assets/scss/mixins";

.PreferencesForm {
  @include flex-column;

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .PreferencesHeader {
    margin-bottom: $space-0;
  }

  input {
    margin-left: $space-1;
  }

  button {
    margin-top: $space-1;
  }

  .inputFieldsContainer {
    margin: $space-1;
  }
}
.explanatoryContainer {
  @include flex-column;

  button {
    padding: $space-0 $space-1;
    margin: $space-1 0;
    background-color: $color-light-grey;
    border-radius: $border-radius-lg;
    border: 1px solid $color-pink;
  }
}
