@import "../../../assets/scss/variables";
@import "../../../assets/scss/mixins";
@import "../../../assets/scss/breakpoints";

.PreferencesForm {
  @include flex-column;

  margin-bottom: $space-3;

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .PreferencesHeader {
    margin: 0 $space-1;
    margin-bottom: $space-0;
    text-align: center;
  }

  input {
    margin-left: $space-1;
  }

  button {
    margin: $space-1 0;
  }

  .inputFieldsContainer {
    margin: $space-1;
  }
}
.explanatoryContainer {
  @include flex-column;
  margin-bottom: $space-1;

  button {
    padding: $space-0 $space-1;
    margin: $space-1 0;
    background-color: $color-light-grey;
    border-radius: $border-radius-lg;
    box-shadow: $shadow-2;
  }

  .wordsNumberInfo {
    padding: 0 $space-2;
    margin-right: $space-2;
  }

  .totalWordsNumber {
    font-weight: 700;

    span {
      color: $color-pink;
    }
  }
}
