@import "../../../assets/scss/variables";
@import "../../../assets/scss/mixins";
@import "../../../assets/scss/breakpoints";

.SideBar {
  @include flex-column;
  background-color: $color-light-grey;
  width: fit-content;
  justify-content: space-around;
  text-align: center;
  height: 100vh;

  .links {
    @include flex-column;
    margin: 0 $space-1;
    height: 60vh;
    justify-content: space-evenly;
  }

  .instructions {
    @include flex-column;
    color: $color-pink;
    margin-bottom: $space-0;

    button {
      font-size: $font-xs;
    }

    a {
      text-decoration: none;
    }
  }
}
