@import "../../assets/scss/variables";

.ExplanatoryWordsCard {
  margin: $space-1;
  padding: $space-1;
  background-color: $color-light-grey;
  border-radius: $border-radius-md;
  box-shadow: $shadow-2;

  .header {
    text-align: center;
    margin-bottom: $space-0;
  }

  p {
    line-height: $space-3;

    span {
      color: $color-pink;
      font-weight: 600;
    }
  }
}
