@import "../../assets/scss/mixins";
@import "../../assets/scss/variables";
@import "../../assets/scss/breakpoints";

.QuestionCardContainer {
  @include flex-column;

  width: 100%;
  justify-content: center;
  padding: $space-1;

  .header {
    @include flex-column;
    margin: $space-1;

    button {
      margin-top: $space-0;
    }

    h2 {
      margin-bottom: $space-0;
    }
  }

  .headerWithImg {
    @include flex-row;

    margin-bottom: $space-1;

    img {
      margin-left: $space-0;
      height: 2rem;
      width: auto;
    }
  }

  button {
    margin: $space-0 0;
  }

  .WordCardsContainer {
    @include flex-row;

    justify-content: center;
    flex-wrap: wrap;

    @include md {
      @include flex-column;
    }

    input {
      border-color: $color-pink;
    }
  }

  .wrongTranslation {
    text-decoration: line-through;
    color: $color-red;
  }
}
