@import "../../../assets/scss/mixins";
@import "../../../assets/scss/variables";
@import "../../../assets/scss/breakpoints";

.QuestionCardContainer {
  @include flex-column;

  width: 100%;
  justify-content: center;

  .header {
    @include flex-column;
    margin-bottom: $space-1;

    button {
      margin-top: $space-0;
    }
  }

  button {
    margin-top: $space-0;
  }

  .WordCardsContainer {
    @include flex-row;

    justify-content: center;
    width: 80%;

    input {
      border-color: $color-pink;
    }
  }
}
.progressCardArrowContainer {
  display: flex;
  justify-content: space-between;

  .arrow {
    margin-left: $space-3;
    margin-top: $space-2;

    @include sm {
      margin-left: $space-1;
    }

    img {
      height: 3rem;
      width: auto;
      cursor: pointer;
    }
  }

  .confitmationCard {
    @include push-to-upper-left-corner;
  }
}

.DarkenedQuestionCard {
  @include darkened;
}
