@import "../../assets/scss/variables";
.InputLabelContainer {
  margin: $space-0;

  .InputFieldSmall {
    padding: 0.2rem $space-0;
    width: 3rem;
    font-size: $font-sm;
    border: $border-light;
  }
}
