@import "../../../assets/scss/variables";
@import "../../../assets/scss/mixins";
@import "../../../assets/scss/breakpoints";

.WordCard {
  @include flex-column;

  padding: $space-4 $space-1;
  margin: $space-1;
  box-shadow: $shadow-1;
  border-radius: $border-radius-lg;
  word-break: break-all;
  width: 24rem;

  @include md {
    width: 20rem;
  }

  @include xs {
    width: 17rem;
  }

  h2 {
    padding: $space-0;
  }

  input {
    border: 1px solid $color-pink;
  }
}

.WordCardRed {
  @extend .WordCard;

  border-color: $color-red;
}

.WordCardGreen {
  @extend .WordCard;

  border-color: $color-green;
}

.WordCardYellow {
  @extend .WordCard;

  border-color: $color-yellow;
}
