@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.PageLayout {
  @include flex-column;
  height: 100vh;
  justify-content: center;

  .PageLayoutHeader {
    width: 100%;
    text-align: center;
    margin-bottom: $space-2;

    h2 {
      padding: $space-3;
      margin: $space-4 0;
      width: 100%;
      background-color: $color-light-grey;
      font-weight: 300;
    }
  }
}
