@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";
@import "../../assets/scss/breakpoints";

.PageLayout {
  @include flex-column;
  width: 100%;
  min-height: 100vh;
  justify-content: center;
  overflow-y: scroll;

  .PageLayoutHeader {
    width: 100%;
    text-align: center;

    h1 {
      margin: $space-1;
    }

    h2 {
      padding: $space-3;
      margin: $space-5 0;
      width: 100%;
      background-color: $color-light-grey;

      span {
        color: $color-pink;
      }
      @include md {
        margin: $space-2 0;
      }
    }
  }

  .children {
    @include flex-row;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  .childrenColumn {
    width: 100%;
    @include flex-column;
  }

  .logoAndLanguage {
    @include flex-row;

    position: absolute;
    top: 0;
    left: 0;
    margin-left: $space-3;
    margin-top: $space-3;

    img {
      margin: $space-0;
    }

    .logo {
      height: 3rem;
    }

    @include lg {
      margin-top: $space-2;
    }

    @include md {
      // justify-content: space-around;
      position: static;
      width: 100%;
    }

    @include sm {
      width: 100%;
    }
  }
}
