@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.PageLayout {
  @include flex-column;
  height: 100vh;
  width: 100%;

  .PageLayoutHeader {
    width: 100%;
    text-align: center;
    margin-top: $space-8;
    flex: 1;

    h2 {
      padding: $space-3;
      margin: $space-5 0;
      width: 100%;
      background-color: $color-light-grey;
      font-weight: 300;

      span {
        color: $color-pink;
      }
    }
  }

  .children {
    @include flex-row;
    width: 100%;
    justify-content: space-evenly;
    flex: 2;
    margin-bottom: $space-8;
  }
}
