@import "../../../assets/scss/variables";
@import "../../../assets/scss/mixins";

.NotificationContainer {
  @include flex-column;

  .NotificationMessage {
    // border: 1px solid $color-text;
    box-shadow: $shadow-2;
    margin: $space-0;
    border-radius: $border-radius-sm;
    padding: $space-1;
  }

  button {
    margin-top: $space-1;
  }
}
