@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.BurgerBar {
  .close {
    @include push-to-upper-left-corner;
    margin-top: $space-2;
    margin-left: $space-2;
    height: 1.5rem;
    cursor: pointer;
  }

  .dots {
    @extend .close;
    height: 0.8rem;
  }

  .BurgerOpen {
    @include flex-column;

    justify-content: center;
    background-color: $color-light-grey;
    height: 100vh;

    .BurgerCard {
      @include flex-column;
      justify-content: space-evenly;
      background-color: $color-white;
      width: 90%;
      height: 50vh;
      border-radius: $border-radius-md;
      box-shadow: $shadow-2;

      .close {
        @include push-to-upper-right-corner;
      }

      .user {
        @include flex-column;

        .userLetter {
          margin-bottom: $space-0;
          font-size: $font-lg;
          color: $color-pink;
          text-align: center;
        }
      }

      .links {
        @include flex-row;

        justify-content: center;
        flex-wrap: wrap;
        a {
          width: fit-content;
          padding: 0.3rem $space-1;
          margin: $space-1;
        }
      }

      .instructions {
        @include flex-column;

        h2 {
          color: $color-pink;
        }
      }
    }
  }
}
