@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";
@import "../../assets/scss/breakpoints";

.InstructionsPage {
  @include flex-row;
  height: 100vh;

  @include xl {
    @include flex-column;
  }

  img {
    cursor: pointer;
  }

  .ArrowBack {
    @include push-to-upper-left-corner;

    img {
      height: 3rem;
      width: auto;
      margin-left: $space-3;
      margin-top: $space-2;

      @include md {
        margin-left: $space-2;
        margin-top: $space-1;
      }

      @include xs {
        height: 2.5rem;
      }
    }
  }

  .InstructionsVideoContainer {
    @include flex-row;

    background-color: $color-light-grey;
    height: 100vh;
    padding: 0 $space-3;

    @include xl {
      width: 100%;
      height: fit-content;
      padding: $space-3 0;
    }

    @include sm {
      padding-top: $space-8;
    }

    @include sm_height {
      padding-top: $space-7;
    }

    @include xs_height {
      padding-top: $space-3;
    }

    iframe {
      width: 50rem;
      height: 30rem;
      box-shadow: $shadow-2;

      @include xl {
        margin: 0 auto;
        width: 30rem;
        height: 20rem;
      }

      @include lg {
        width: 25rem;
        height: 15rem;
      }

      @include sm {
        width: 20rem;
      }

      @include xs {
        width: 19rem;
      }

      @include sm_height {
        height: 10rem;
      }

      @include xs_height {
        height: 6rem;
        width: 15rem;
      }
    }
  }

  .InstructionCards {
    @include flex-column;
    width: 100%;
    overflow-y: auto;
    height: 100vh;
    padding-bottom: $space-1;

    h1 {
      text-align: center;
      margin: $space-2 0;
    }

    @include xl {
      flex-direction: row;
      height: fit-content;
      width: 100%;
      flex-wrap: wrap;
      justify-content: center;

      h1 {
        display: none;
      }
    }
  }
}
