@import "./variables";

@mixin input-sm {
  border: $border-light;
  padding: $space-0;
  margin: $space-0;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin flex-row {
  display: flex;
  align-items: center;
}

@mixin button-sm($bgColor, $color) {
  padding: $space-0 $space-1;
  background-color: $bgColor;
  color: $color;
}

@mixin button-lg($bgColor, $color) {
  padding: $space-05 $space-2;
  background-color: $bgColor;
  color: $color;
}

@mixin push-to-upper-left-corner() {
  position: absolute;
  top: 0;
  left: 0;
}

@mixin push-to-upper-right-corner() {
  position: absolute;
  top: 0;
  right: 0;
}

@mixin faded() {
  opacity: 0.3;
  z-index: 3;
}
